:root {
    --base-bg: #F5F5F5; 
    --base-bg-alt: #EEEEEE;

    --text-base: black;
    --text-sidebar: white;

    --color-primary: #EB358A;
    --color-secondary: #484848;
    --color-button-hover: #111111;

    --sidebar-bg: #1C1C1C;

    --preview-bg: #848484;

  }

  